@import url('https://fonts.googleapis.com/css?family=Raleway');

body, html {
    height: 100%;
}

body {
  background-color: rgb(110, 193, 120);
}

* {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  color: white;
  text-decoration: none;
}

/* Hero */
.carousel, .hero {
  max-height: 768px;
  overflow: hidden;
}

.carousel-item, .hero-img {
  transform: scale(1.03) translateZ(0); /* Forces hardware acceleration for image processing */
  filter: brightness(40%) blur(2.5px);
}

#hero-text {
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navigation bar */
.header {
  background: #0F303D;
  height: auto;
}

#navbar-table a {
  color: #45A89B;
}

.header img {
  float: left;
  margin-left: 10px;
  vertical-align: middle;
  margin-top: 5px;
}

.header h2 {
  float: left;
  margin-left: 20px;
  vertical-align: middle;
  margin-top: 20px;
  white-space: nowrap;
  font-size: 2em;
}

.header #short-title { display: none; }
.header #burgerMenu { display: none; }

#navbar-table {
  border-collapse: separate;
  border-spacing: 2px;
  position: relative;
  white-space: nowrap;
  float: right;
  margin-left: auto;
  margin-right: -32px; /* Offsets hidden hamburger menu icon */
}

#navbar-table th {
  padding: 16px;
  padding-top: 22px;
  font-size: 1.3rem;
}

#navLinks {
  overflow-x: auto;
}

@media screen and (max-width: 670px) {
  #hero-text { font-size: 1.5rem; }

  .header h2 {
    margin-top: 25px;
    font-size: 1.5em;
  }

  .header #short-title { display: inline; }
  .header #full-title { display: none; }
  .navBar #navbar-table { margin-right: 0px;}
  .navBar a { display: none; }
  .navBar #burgerMenu { display: inline; }

  .navBar.mobile #navbar-table {
    float: right;
    white-space: normal;
  }

  .navBar.mobile #navbar-table th {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
  }

  .navBar.mobile a {
    display: inline;
    text-align: right;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 670px) and (max-width: 940px) {
  .header #short-title { display: inline; }
  .header #full-title { display: none; }
  #navLinks { overflow: hidden; }
}

@media screen and (min-width: 940px) {
  #navLinks { overflow: hidden; }
}
