@import url('https://fonts.googleapis.com/css?family=Raleway');

body, html {
  height: 100%;
}

body {
  background-color: rgb(110, 193, 120);
}

* {
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  color: white;
  text-decoration: none;
}

/* General media queries */
.title {
  margin-top: 15px;
  font-weight: bold;
}

/* Hero */
.carousel, .hero {
  max-height: 768px;
  overflow: hidden;
}

.carousel-item, .hero-img {
  transform: scale(1.05) translateZ(0); /* Forces hardware acceleration for image processing */
  filter: brightness(40%) blur(2.5px);
}

#hero-text {
  text-align: center;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Navigation bar and footer */
.header, #footer {
  background: #0F303D;
  height: auto;
}

#navBarTable a {
  color: #45A89B;
}

#navBarTable a:hover {
  color: #4CBDB0;
  text-decoration: none;
}

.header img {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.header h2 {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  white-space: nowrap;
  font-size: 2em;
}

.header #short-title { display: none; }
.header #burgerMenu { display: none; }

#navBarTable {
  float: right;
  margin-left: auto;
  margin-right: -32px; /* Offsets hidden hamburger menu icon */
  position: relative;
  border-collapse: separate;
  border-spacing: 2px;
  white-space: nowrap;
}

#navBarTable th {
  padding: 16px;
  padding-top: 22px;
  font-size: 1.3rem;
}

#navLinks {
  overflow-x: auto;
}

/* Responsive media queries */
@media screen and (max-width: 670px) {
  #hero-text { font-size: 1.5rem; }

  .header h2 {
    margin-top: 25px;
    font-size: 1.5em;
  }

  .short-text { display: inline; }
  .full-text { display: none; }
  .navBar #navBarTable { margin-right: 0px;}
  .navBar a { display: none; }
  .navBar #burgerMenu { display: inline; }

  .navBar.mobile #navBarTable {
    float: right;
    white-space: normal;
  }

  .navBar.mobile #navBarTable th {
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
  }

  .navBar.mobile a {
    display: inline;
    text-align: right;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 670px) and (max-width: 940px) {
  .short-text { display: inline; }
  .full-text { display: none; }
  #navLinks { overflow: hidden; }
}

@media screen and (min-width: 940px) {
  .short-text { display: none; }
  .full-text { display: inline; }
  #navLinks { overflow: hidden; }
}

/* Support for devices with notches */
@supports(padding: max(0px)) {
  #header img { margin-left: max(10px, env(safe-area-inset-left)); }
  #navBarTable { margin-right: 0px; }
  .container, .container-fluid { padding-bottom: env(safe-area-inset-bottom); }

  .col {
    padding-left: max(40px, env(safe-area-inset-left));
    padding-right: max(40px, env(safe-area-inset-right));
  }
}
